.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.hello-profile {
  font-size: 40px;
}

.hello-info {
  font-size: 18px;
}

.history {
  font-size: 24px;
}

body {
  font: 400 15px/1.8 Lato, sans-serif;
  background-image: url("/finance-modelling/binomo/src/images/");
  background-size: cover;
  width: 100%; height: 100%;
  top: 0; left: 0;
  z-index: -1;
}

input[type="number"], select.form-control {
  background: transparent;
  /* border-bottom: 1px solid #000; */
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 12;
}

/* input[type="number"]:focus, select.form-control:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border: 1px solid #004D80;
  box-shadow: none;
} */

/* select {
  -webkit-border-radius: 0px !important;
     -moz-border-radius: 0px !important;
          border-radius: 0px !important;
          -webkit-appearance: none;
} */

.input-group>.input-group-append>.input-group-text,
.input-group>.input-group-prepend>.input-group-text {
  background: #fafafa;
  border-radius: 12;
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.custom {
  background: white;
  color: #004D80;
}

.bg-image {
  background-image: url("../src/images/background.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-weight: bold;
}

.field {
  width: 100%;
  height: 56px;
  border-radius: 4px;
  position: relative;
  background-color: rgba(255,255,255,0.3);
  transition: 0.3s all;
}
.field:hover {
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}